<#-- @ftlvariable name="logoId" type="com.tinubu.commons.ports.document.domain.DocumentPath" -->
<div class="header">
   <div class="pdf-header-title">
       <span class="pdf-header-secondary-title">
         Pdf header secondary
       </span>
   </div>
   <div id="pdf-logo">
       <#if logoId??>
          <img src="${logoId.stringValue()}.png" height="50"/>
       <#else>
          <img src="default-logo.png" height="50"/>
       </#if>
   </div>
</div>
