@page :first {
   margin: 31.6mm 0 20mm 0;
   padding: 0;
   size: A4;
   @top-center {
      content: element(header)
   }
}
@page {
   margin: 31.6mm 0 20mm 0;
   padding: 0;
   size: A4;
   @bottom-center {
      content: element(footer)
   }
}

a {
   color: hotpink;
}

body {
   margin: 0;
   font-size: 13px;
   font-family: Arial, sans-serif;
   line-height: 5mm;

   background-image: url('../images/sample-watermark.png');
   background-repeat: no-repeat; background-attachment: fixed; padding: 0px;
}

.template-body {
   margin-left: 28mm;
   width: 155mm;
}

.header {
   position: running(header);
   display: block;
   margin-left: 28mm;
   width: 173mm;
   height: 31.6mm;
   padding-top: 10mm;
}

.header {
   position: running(header);
   display: block;
   margin-left: 28mm;
   width: 173mm;
   height: 31.6mm;
   padding-top: 10mm;
}

.footer {
   position: running(footer);
   font-size: 8pt;
   margin-left: 28mm;
   width: 155mm;
   height: 20mm;
   display: table;
}

#pdf-logo {
   position: relative;
   float: right;
   max-height: 50px;
   max-width: 200px;
   padding: 0;
}

.pdf-header-title {
   max-width: 300px;
   position: relative;
   float: left;
}

.pdf-header-secondary-title {
   font-size: 14pt;
   text-align: left;
   color: black;
   text-transform: uppercase;
}

.pdf-footer-text {
   display: table-cell;
   vertical-align: middle;
}

.pdf-footer-primary-title {
   font-size: 8pt;
   text-transform: uppercase;
   font-weight: bold;
   text-align: left;
   color: black;
}

.pdf-footer-secondary-title {
   font-size: 8pt;
   text-align: left;
   color: black;
   text-transform: uppercase;
}

.pdf-page-number {
   display: table-cell;
   vertical-align: middle;
   text-align: right;
}